.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  #myCarousel{
	width:50%;
	}
#myCarousel img{
position:relative;
height:500px;
}
#name{
position:relative;
font-family: 'Lora', serif;
font-weight:bold;
font-size:35px;
}
span {
display:table;
margin:0 auto;
}
#login{
display:none;
}
div#frame {
   background-color:burlywood;
    position:absolute;
	top:35%;
	left:50%;
	width:50%;
	height:500px;
	float:right;
}
.nav-link ,.navbar-brand{
color:white;
}
.form-inline
{
position:relative;
top:1rem;
}