.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  #myCarousel{
	width:50%;
	position:relative;
	left:25%;
	}
#myCarousel img{
position:relative;
height:500px;
}